{% extends 'basicapp/base.html' %}
{% block bodyblock %}
<div class="row">
<div class="col-lg-3 jumbotron">
    <form method="post" enctype="multipart/form-data">
        {{dealer_form.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="add_d" value="Add Dealer">
    </form>
</div>
<div class="jumbotron col-lg-9 border-success border-left">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
        {% for field in entry_form %}
        <div class="col-lg-6">
            {{ field.label_tag }}{{ field }}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary mt-4 ml-1" name="add_e" value="Add entry">
        </div>
    </form>
</div></div>
{% if records %}
<div class="table-responsive-lg">
    <table class="table table-dark">
        <thead class="thread-dark">
            <th>Item</th>
            <th>Dealer</th>
            <th>Rate</th>
            <th>MRP</th>
            <th>Company</th>
            <th>Actions</th>
        </thead>
        {% for row in records %}
        <tr>
            <td>{{row.item}}</td>
            <td>{{row.dealer}}</td>
            <td>{{row.rate}}</td>
            <td>{{row.mrp}}</td>
            <td>{{row.company}}</td>
            <td><a href="/edit/{{ row.id }}" class="p-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="aqua" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg></a>  <a href="/delete/{{ row.id }}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<h1>No Records Found!</h1>
{% endif %}
{% endblock bodyblock %}