{% extends 'basicapp/base.html' %}
{% block bodyblock %}
<div class="row">
<div class="jumbotron m-2 col-m-2">
    <form method="post" enctype="multipart/form-data">
        {{dealer_form.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="add_d" value="Add Dealer">
    </form>
</div>
<div class="jumbotron m-2 col-lg-9">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
        {% for field in entry_form  %}
        <div class="col-lg-6">
            {{ field.label_tag }}{{ field }}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary mt-4 ml-1" name="add_e" value="Add entry">
        <input type="submit" class="btn btn-primary mt-4 ml-1 disabled" name="update_e" value="Update Selected">
        <input type="submit" class="btn btn-primary mt-4 ml-1 disabled" name="delete_e" value="Delete Selected">
        </div>
    </form>
</div></div>

{% endblock bodyblock %}